@import "tailwindcss";

:root {
  --background: #E3E6E6;
  --foreground: #171717;
}

@utility container {
  margin: auto;
}

@theme inline {}



body {
  background-color: var(--background);
}



/* For Webkit browsers (Chrome, Safari, Opera) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* or width: 0; height: 0; */
}

/* For Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  /* Hide scrollbar in Firefox */
}

/* For IE and Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
}

h2 {
  font-size: 62px;
  word-spacing: -5px;
  letter-spacing: -3px;
  line-height: 56px;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

.btn1 {
  background-color: #FCD34D;
  border-radius: 1rem;
  padding: 0.25rem 4rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn1:hover {
  background-color: #FBBF24;
}

.btn-wise {
  padding: 10px 25px;
  border-radius: 20px;
  background-color: #A3E46B;

}

/* @media (min-width: 1400px) {
  h2 {
    font-size: 64px;
    word-spacing: -5px;
    letter-spacing: -3px;
  }

} */

@media (max-width: 1200px) {
  h1 {
    font-size: 102px;
    line-height: 98px;
  }

  h2 {
    font-size: 60px;
    word-spacing: -5px;
    letter-spacing: -3px;
    line-height: 56px;
  }
}

@media (max-width: 1024px) {
  h1 {
    line-height: 65px;
    font-size: 65px;
  }

  h2 {
    font-size: 40px;
    word-spacing: -5px;
    letter-spacing: -3px;
    line-height: 36px;
  }

}

@media (max-width: 768px) {
  h1 {
    line-height: 65px;
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
    word-spacing: -2px;
    letter-spacing: -1px;
    line-height: 32px;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 26px;
    line-height: 24px;
  }
}